.vscode
.vs
.idea
.DS_Store
*.tgz

cmake_install.cmake
CMakeCache.txt
CMakeFiles
package-lock.json
out
out.download

/build/
/core/build/
/core/tjs/src/version.h
/modules/build/
/packages/build/
/packages/mediakit/src/version.h
/node_modules/
/output/
